.btn-list{
    color: white;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}


.container{
    padding: 1rem;
    margin: 0 auto;
    width: 100%;
    max-width: 1080px;
    justify-content: center;
}

.main{
    flex-direction: column;
}





