<mat-card class="book-card">
    <mat-card-title>
        {{book.title}}
    </mat-card-title>
    <mat-card-content>
        <p>{{book.description}}</p>
        <p>評価: {{book.rating}}点</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" class="edit-button"
            (click)="handleEdit()">編集
        </button>
        <button mat-raised-button color="warn" class="delete-button"
            (click)="handleDelete()">削除
        </button>
    </mat-card-actions>
</mat-card>


