.book-register-card {
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 8px;
    background-color: #fff;
    width: 90%;
    margin: 20px auto;
    padding: 16px;
}

mat-card-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 5px;
}

mat-form-field {
    display: block;
    max-width: 500px;
}

.bookRating{
    max-width: 200px;
}

mat-card-actions {
    display: flex;
    justify-content: flex-end;
}


